# Ignorar arquivos pesados e executáveis do Windows em qualquer lugar
*.exe

# Ignorar o banco de dados de produção local da raiz
producao1.db

# Ignorar APENAS os dados gerados pelo banco e ferramentas
backend/data/
grafana-data/
prometheus/data/

# Garante que arquivos de código dentro de 'prometheus' ou 'grafana' não sejam ignorados
!prometheus/*.yml
!prometheus/*.conf
