# Ignorar arquivos pesados e executáveis do Windows
*.exe
producao1.db
backend/data/
prometheus/data/
!prometheus/*.yml

# --- CONFIGURAÇÃO DO GRAFANA ---
# Ignorar dados internos e logs gerados pelo Grafana
grafana-data/data/
grafana-data/log/
grafana-data/logs/
grafana-data/png/

# PERMITIR arquivos de configuração que você alterou
!grafana-data/*.ini
!grafana-data/*.json
!grafana-data/plugins/
